<style> 
h1 {
    text-align: center;
}

p { 
    margin-top: 200px;
    font-size: 20px;
}
</style>
<h1>Profile</h1>


    <center><p> Username: <%= profiledata.username %> <br>
        Email: <%= profiledata.email %> <br>
        Height: <%= profiledata.height %> <br>
        Weight: <%= profiledata.weight %> <br>
        <!-- Password: <%= profiledata.password %> -->
    
    </p></center>

