<!-- <h2> <%= exercise.title %></h2>

<div>
    Sets: <%=  %>
</div>

<div>
    Is Published: <%= article.isPublished %>
</div>

<div>
    Total Words: <%= article.totalWords %>
</div>

<div>
    Author: <%= article.author %>
</div> -->